# EditorConfig helps us keep consistent coding styles between different editors and IDEs (http://editorconfig.org).
# MOAP-specific rules are configured below.


# Do not look for deeper placed ".editorconfig" files.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = tab
indent_size = 4
continuation_indent_size = 8
tab_width = 4
trim_trailing_whitespace = true
max_line_length = 180

[*.{ts,js}]
continuation_indent_size = 4

[*.bat]
end_of_line = crlf

# All OpenAPI test files in the OpenAPI generator
[crnk-gen/crnk-gen-openapi/**.yaml]
indent_style = space
indent_size = 2
continuation_indent_size = 4
tab_width = 2