<div class="card-container">
	<div class="card card-w-title" *ngIf="!embeddedMode">
		<h3>Endpoint</h3>
		<input type="string" style="width:100%" [(ngModel)]="baseUrl" pInputText placeholder="JSON API endpoint...">
	</div>

	<div class="card card-w-title">
		<h3>Query</h3>

		<div class="ui-g">
			<div class="ui-g-12 ui-md-2">
				<p-dropdown [options]="availableTypes" [(ngModel)]="preferences.query.type" placeholder="Type"
							(ngModelChange)="updateAvailableRelationships()"
							[style]="{'width':'100%'}"></p-dropdown>
			</div>
			<div class="ui-g-12 ui-md-2">
				<input type="string" style="width:100%" [(ngModel)]="preferences.query.id" pInputText name="id"
					   placeholder="ID">
			</div>
			<div class="ui-g-12 ui-md-2">
				<p-dropdown [options]="availableRelationships" [(ngModel)]="preferences.query.relationship"
							placeholder="Relationship"
							[style]="{'width':'100%'}"></p-dropdown>
			</div>
			<div class="ui-g-12 ui-md-5">
				<p-autoComplete [(ngModel)]="preferences.query.parameters" [minLength]="0"
								[suggestions]="parameterSuggestions" [inputStyle]="{'width':'100%'}"
								[style]="{'width':'100%'}"
								(completeMethod)="suggestParameters($event)" placeholder="Parameters"></p-autoComplete>


			</div>
			<div class="ui-g-12 ui-md-1">
				<button pButton (click)="get()" label="Get"></button>
			</div>
		</div>
	</div>


	<div class="card card-w-title" *ngIf="documentError != null">
		{{documentError}}
	</div>

	<div class="card card-w-title" *ngIf="documentText != null || documentNodes != null">

		<div class="ui-g">
			<div class="ui-g-12 ui-md-4" style="padding:0px;margin:0px">
				<h3>Result</h3>
			</div>
			<div class="ui-g-12 ui-md-8">


                <span style="float:right;padding-left:1em">
                    <p-toggleButton [(ngModel)]="expandAttributes" onLabel="Attributes"
									offLabel="Attributes"></p-toggleButton>
                    <p-toggleButton [(ngModel)]="expandRelationships" onLabel="Relationships"
									offLabel="Relationships"></p-toggleButton>
                    <p-toggleButton [(ngModel)]="expandMeta" onLabel="Meta" offLabel="Meta"></p-toggleButton>
                    <p-toggleButton [(ngModel)]="expandLinks" onLabel="Links" offLabel="Links"></p-toggleButton>
                </span>

				<span style="float:right;padding-left:1em">
                     <p-selectButton [options]="documentDisplayTypes"
									 [(ngModel)]="documentDisplayType"></p-selectButton>
                </span>
				<span style="float:right; padding-top:0.6em" *ngIf="documentDisplayType == 'tree'">
                    <input type="string" [(ngModel)]="queryTerm" pInputText placeholder="Filter result...">
                </span>


			</div>
		</div>

		<div style="font-size: 90%; font-family: 'Courier New'">
			<p-treeTable [value]="filteredDocumentNodes" styleClass="tree-table-no-header"
						 *ngIf="documentDisplayType != 'json'">
				<p-column filter="true" field="key" header="key" [style]="{'width':'250px'}"></p-column>
				<p-column field="value" header="value">
					<ng-template pTemplate let-node="rowData" type="body">
                     <span *ngIf="(node.data.key == 'id' || node.data.type == 'text') && editable">
                        <input pInputText [(ngModel)]="node.data.value" style="width:300px"
							   (ngModelChange)="clearDocumentText()">
                    </span>
						<span *ngIf="node.data.type == 'url'">
                        <a href="{{node.data.urlValue}}">{{node.data.value}}</a>
                    </span>
						<span *ngIf="node.data.type == 'text' && !editable">
                        {{node.data.value}}
                    </span>
						<span *ngIf="node.data.type == 'query' && (!editable || node.data.key != 'id')">
                        <a href="#" (click)="get(node.data.query)">{{node.data.value}}</a>
                    </span>
					</ng-template>
				</p-column>
			</p-treeTable>

			<div *ngIf="documentDisplayType == 'json'">

                <textarea *ngIf="editable" pInputTextarea [(ngModel)]="documentText" [rows]="responseRows"
						  style="width:100%"></textarea>

				<pre *ngIf="!editable">{{documentText}}</pre>

			</div>

			<div>
				<p>
					<button pButton (click)="setupPost()" label="Setup Post"></button>
					<button pButton (click)="post()" label="Post" [disabled]="!editable || isSingleResource()"></button>
					<button pButton (click)="patch()" label="Patch"
							[disabled]="!(editable && isSingleResource())"></button>
					<button pButton (click)="delete()" label="Delete"
							[disabled]="!(editable && isSingleResource())"></button>
				</p>
			</div>

		</div>
	</div>

	<div class="card card-w-title" *ngIf="response != null">

		<h3>HTTP</h3>

		<div class="ui-g">
			<div class="ui-g-12 ui-md-2">
				Method
			</div>
			<div class="ui-g-12 ui-md-10">
				{{httpMethod}}
			</div>
			<div class="ui-g-12 ui-md-2">
				URL
			</div>
			<div class="ui-g-12 ui-md-10">
				<a href="{{response.url}}">{{response.url}}</a>
			</div>
			<div class="ui-g-12 ui-md-2">
				Response Code
			</div>
			<div class="ui-g-12 ui-md-10">
				{{response.status}} - {{response.statusText}}
			</div>
			<div *ngIf="response.headers != null" class="ui-g-12 ui-md-2">
				Response Headers
			</div>
			<div *ngIf="response.headers != null" class="ui-g-12 ui-md-10">

				<p-dataTable [value]="response.headers.keys()">
					<p-column header="Name">
						<ng-template let-rowData="rowData" pTemplate="body">
							{{rowData}}
						</ng-template>
					</p-column>
					<p-column header="Value">
						<ng-template let-rowData="rowData" pTemplate="body">
							{{response.headers.get(rowData)}}
						</ng-template>
					</p-column>
				</p-dataTable>

			</div>
		</div>

	</div>

</div>

